/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.vscode
/.vscode
prod.env
*.env
docker-compose.yml
docker/MySQL
docker/Nginx/Logs
#just notes for me ya know ) 
ПРОЧИТАЙ СУКА.txt
